@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&family=Roboto:wght@700&display=swap");
* {
  font-family: "Cairo", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto {
  font-family: "Roboto", sans-serif;
}

.myAnimation {
  animation: cycleImages 32s infinite;
  -webkit-animation: cycleImages 32s infinite;
}

.myImgAnimation {
  animation: zoom 31s infinite;
  -webkit-animation: zoom 31s infinite;
}

.slideShowItem:nth-child(1),
.slideShowItem:nth-child(1) img {
  animation-delay: 0s;
}
.slideShowItem:nth-child(2),
.slideShowItem:nth-child(2) img {
  animation-delay: 10s;
}
.slideShowItem:nth-child(3),
.slideShowItem:nth-child(3) img {
  animation-delay: 20s;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes zoom {
  100% {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}
